<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/placinte.css" />
    <title>Pagina cu placinte</title>
  </head>
  <body>
    <nav>
      <ul class="nav_bar" id = "navbar">
        <li><img src="../static/hochland.jpg" width="50" alt="logo" /></li>
        <li><a href="Acasa.html" class="pag2"> Pagina principala</a></li>
        <li><a href="Placinte.html" class="pag3"> Alte placinte</a></li>
        <li><a href="Donatii.html" class="pag2"> Donatii </a></li>

      </ul>
    </nav>
    <div class="placinte">
      <div class="chenarPlacinta1">
        <div class="placintaimg">
          <img
              class="imagine1"
              src="../static/placinta1.jpg"
              alt="placinta"
          /></a>
        </div>
        <button class="cumpara" id="11">Adauga 1 in cos</button>
        <button class="cumpara" id="12">Scoate 1 din cos</button>
        <button class="cumpara" id="13">Reseteaza</button>      </div>
      <div class="chenarPlacinta1">
        <div class="placintaimg">
          <a
            ><img
              class="imagine1"
              src="../static/placinta2.jpg"
              alt="placinta"
          /></a>
        </div>
        <button class="cumpara" id="21">Adauga 1 in cos</button>
        <button class="cumpara" id="22">Scoate 1 din cos</button>
        <button class="cumpara" id="23">Reseteaza</button>      </div>
      <div class="chenarPlacinta1">
        <div class="placintaimg">
          <a
            ><img
              class="imagine1"
              src="../static/placinta3.jpg"
              alt="placinta"
          /></a>
        </div>
        <button class="cumpara" id="31">Adauga 1 in cos</button>
        <button class="cumpara" id="32">Scoate 1 din cos</button>
        <button class="cumpara" id="33">Reseteaza</button>      </div>
    </div>
    <h3>
      Placinta noastra speciala:
    </h3>
    <div class="placinte">
      <div class="chenarPlacinta1">
        <div class="placintaimg">
          <a
            ><img
              class="imagine1"
              src="../static/placinta4.jpg"
              alt="placinta"
          /></a>
        </div>
        <button class="cumpara" id="41">Adauga 1 in cos</button>
        <button class="cumpara" id="42">Scoate 1 din cos</button>
        <button class="cumpara" id="43">Reseteaza</button>

        
      </div>
    </div>
    <script src="../static/placinte.js"></script>
  </body>
</html>
